/* variables */
/* HOME PAGE*/
.encabezado {
  width: 100%;
}

.encabezado .navBar {
  background-color: #fff;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.encabezado .navBar .navUl {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.encabezado .navBar .navUl li {
  display: inline-block;
}

.encabezado .navBar .navUl li .navLink {
  text-transform: uppercase;
  color: #5e5852;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

.encabezado .navBar .navUl li .navLink:hover {
  text-decoration: underline;
  color: #c6bdb6;
}

.encabezado .imgHeader {
  height: 600px;
  width: 100%;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section1 {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(/img/logo.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .section1 {
    background-attachment: unset;
  }
}

.section1 h2 {
  color: #5e5852;
  margin-top: 250px;
  margin-bottom: 50px;
  font-family: "Quattrocento", serif;
}

.section1 h1 {
  color: #c6bdb6;
  font-family: "Quattrocento", serif;
}

.sectionAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
  margin-top: 90px;
  width: 100%;
}

.sectionAbout article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-top: 90px;
  padding-left: 60px;
}

.sectionAbout article .btn {
  color: #5e5852;
  border: 2px solid;
  border-radius: 0%;
  margin-top: 30px;
}

.sectionAbout article .btn:hover {
  background-color: #5e5852;
  color: #fff;
  border: #5e5852;
  border: 2px solid #5e5852;
  border-radius: 0%;
}

.sectionAbout article h2 {
  color: #5e5852;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Quattrocento", serif;
}

.sectionAbout article p {
  color: #5e5852;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-right: 60px;
}

.sectionAbout .aside .imgAbout {
  padding-left: 20px;
}

.sectionGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.sectionGallery {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(/img/logo.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .sectionGallery {
    background-attachment: unset;
  }
}

.sectionGallery .imgMenu {
  width: 400px;
  height: 300px;
}

.sectionEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  text-align: center;
  padding-bottom: 50px;
}

.sectionEmail {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(/img/logo.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .sectionEmail {
    background-attachment: unset;
  }
}

.sectionEmail h2 {
  color: #5e5852;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
  margin-top: 50px;
}

.sectionEmail p {
  color: #5e5852;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 15px;
}

.sectionEmail .suscribeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.sectionEmail .suscribeForm .form-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.sectionEmail .suscribeForm .mb-3 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionEmail .btn {
  color: #c6bdb6;
  border: 2px solid;
  border-radius: 0%;
  margin-top: 30px;
}

.sectionEmail .btn:hover {
  background-color: #c6bdb6;
  color: #fff;
  border: #c6bdb6;
  border: 2px solid #c6bdb6;
  border-radius: 0%;
}

/* CARDS PROPIEDADES*/
.sectionCards {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
  padding-bottom: 80px;
}

.sectionCards h2 {
  font-family: "Quattrocento", serif;
  color: #5e5852;
  margin-top: 90px;
  text-align: center;
  margin-bottom: 50px;
}

.sectionCards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.sectionCards a:hover {
  background-color: #fff;
  opacity: .3;
}

.testimonials {
  background-image: url(/img/wwu.jpg);
  height: 500px;
  text-align: center;
  width: 100%;
  padding: 0 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials h3 {
  font-family: "Quattrocento", serif;
  color: #fff;
  margin-top: 180px;
  font-size: 45px;
}

.testimonials p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.testimonials .btn:hover {
  color: #fff;
  border: 2px solid;
  border-radius: 0%;
  background-color: transparent;
}

.testimonials .btn {
  background-color: #fff;
  color: #5e5852;
  border: #fff;
  border: 2px solid #fff;
  border-radius: 0%;
}

footer {
  background-color: #c6bdb6;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .logoTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .logoTitles .footerTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

footer .logoTitles .footerTitles h5 {
  margin-top: 70px;
  font-family: "Quattrocento", serif;
  color: #5e5852;
  font-size: 25px;
}

footer .logoTitles .footerTitles p {
  font-family: "Montserrat", sans-serif;
  color: #5e5852;
  font-weight: 600;
}

footer .logoTitles .logo {
  margin-left: 80px;
  margin-top: 30px;
}

footer .footerLinks {
  font-family: "Quattrocento", serif;
  font-weight: 800;
  color: #5e5852;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  margin-left: 100px;
}

footer .footerLinks a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #5e5852;
}

footer .footerLinks a:hover {
  color: #7E776F;
}

/* MOBILE HOME*/
@media (max-width: 767px) {
  .encabezado {
    width: 100%;
  }
  .encabezado .navBar {
    width: 100%;
    height: 30px;
  }
  .encabezado .navBar .navUl {
    font-size: 11px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 5px;
  }
  .encabezado .imgHeader {
    height: 200px;
  }
  .section1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section1 h2 {
    margin-top: 50px;
    font-size: 20px;
  }
  .section1 h1 {
    font-size: 18px;
  }
  .sectionGallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionGallery .imgMenu {
    width: 100%;
    height: 250px;
  }
  .sectionAbout {
    margin-top: 15px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionAbout article {
    margin-top: 45px;
  }
  .sectionAbout article .btn {
    margin-bottom: 45px;
  }
  .sectionAbout .imgAbout {
    width: 100%;
  }
  .sectionEmail h2 {
    margin-top: 10px;
  }
  .sectionCards {
    width: 100%;
  }
  .sectionCards .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials h3 {
    font-size: 25px;
    width: 500px;
  }
  .testimonials p {
    font-size: 15px;
    width: 250px;
  }
  footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
  footer .footerTitles {
    margin-left: 20px;
  }
  footer .logo {
    display: none;
  }
  footer .footerLinks {
    margin-top: 30px;
    margin-left: 20px;
  }
}

/*PROP PAGE*/
.navBar2 {
  background-color: #fff;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navBar2 .navUl2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.navBar2 .navUl2 li {
  display: inline-block;
}

.navBar2 .navUl2 li .navLink {
  text-transform: uppercase;
  color: #5e5852;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

.navBar2 .navUl2 li .navLink:hover {
  text-decoration: underline;
  color: #c6bdb6;
}

/* BODY - CAROUSEL*/
.carousel-inner {
  height: 500px;
}

.carousel-inner .d-block w-100 {
  height: 400px;
}

/* TEXT*/
.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c6bdb6;
}

.presentation .presentationText {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.presentation .presentationText h2 {
  font-family: "Quattrocento", serif;
  color: #5e5852;
}

.presentation .presentationText p {
  font-family: "Montserrat", sans-serif;
  color: "Montserrat", sans-serif;
  font-weight: 700;
}

.propertyDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.propertyDescription {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(img/logo.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .propertyDescription {
    background-attachment: unset;
  }
}

.propertyDescription h2 {
  font-family: "Quattrocento", serif;
  color: #5e5852;
  margin-top: 50px;
}

.propertyDescription h4 {
  font-family: "Quattrocento", serif;
  color: #5e5852;
  margin-top: 20px;
}

.propertyDescription .amenitiesGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 40px;
}

.propertyDescription .amenitiesGroup .amenities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.propertyDescription .amenitiesGroup .amenities h6 {
  font-family: "Montserrat", sans-serif;
  color: #c6bdb6;
  padding-right: 30px;
  font-weight: 600;
}

.propertyDescription .amenitiesGroup .amenities p {
  font-family: "Quattrocento", serif;
  color: #c6bdb6;
}

/* ABOUT PAGE*/
.navBar {
  background-color: #fff;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navBar .navUl {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.navBar .navUl li {
  display: inline-block;
}

.navBar .navUl li .navLink {
  text-transform: uppercase;
  color: #5e5852;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

.navBar .navUl li .navLink:hover {
  text-decoration: underline;
  color: #c6bdb6;
}

.sectionCeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
  padding-top: 80px;
}

.sectionCeline .textAbout {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.sectionCeline .textAbout h2 {
  color: #5e5852;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
}

.sectionCeline .textAbout p {
  color: #5e5852;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.sectionCeline .textAbout .btn {
  color: #5e5852;
  border: 2px solid;
  border-radius: 0%;
}

.sectionCeline .textAbout .btn:hover {
  background-color: #5e5852;
  color: #fff;
  border: #5e5852;
  border: 2px solid #5e5852;
  border-radius: 0%;
}

/* CONTACT PAGE */
.contactPage {
  background-color: rgba(0, 0, 0, 0.8);
}

.contactPage .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactPage .contact .contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.contactPage .contact .contactDetails h2 {
  font-family: "Quattrocento", serif;
  color: #fff;
  margin-bottom: 30px;
}

.contactPage .contact .contactDetails a {
  color: #fff;
}

.contactPage .contact .contactDetails a:hover {
  color: #E7E6E6;
}

.contactPage .contactForm {
  padding-left: 20px;
  padding-top: 150px;
}

.contactPage .contactForm form label {
  color: #fff;
  text-transform: uppercase;
}

.contactPage .contactForm form .btn {
  color: #fff;
  border: 2px solid;
  border-radius: 0%;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */