/* logo con parrallax
&{
    background-position-x: right!important;
    background-repeat: no-repeat;
    background-size: contain!important;
    background-image:url(/img/logo.png);
    background-position-y: bottom!important;
    background-attachment: fixed;
    }
    @media only screen and (max-width: 768px) {
    &{
    background-attachment:unset;
    }
    }

    end*/

    /*START - Parallax effect
&{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    @media only screen and (max-width: 768px) {
    &{
    background-attachment:unset;
    }
    }
    END - Parallax effect*/